{% extends 'home.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>{{title}}</h1>
    <form action="" method="POST">{% csrf_token %}
      {{form|crispy}}
      <input type="submit" value="Search">
    </form>
    <br>
    <p class="lead">
    
      <table class="table" id="item-table">
        <thead>
          <tr>
            <th>COUNT</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
            <th>QUANTITY</th>
          </tr>
        </thead>
        {% for instance in queryset %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{instance.category}}</td>
          <td>{{instance.item_name}}</td>
          <td>{{instance.quantity}}</td>
        </tr>
        {% endfor %}
      </table>
    </p>
  </div>
</main>
{% endblock content %}
